// colors
$dark-teal: #4D96A9;
$hover-teal: #8FE3F9;
$dark-purple: #855FB1;
$hover-purple: #D9B8FF;
$black: #28283D;
$grey: #87879D;
$white: #FAFAFA;


// Font
$main-font: 'Red Hat Display', sans-serif;
$h1-font-size: 64px;
$h2-font-size: 40px;
$overline-font-size: 16px;
$body-font-size: 18px;